{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

<div class="main">
    <h1>Register</h1>
    <form method="POST" class="form">  
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"; class="btn btn-outline-primary">Sign In</button>
    </form>
    {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
	    	<script type="text/javascript">
	    		alert('{{message}}');
	    	</script>
		</li>
	    {% endfor %}
	</ul>
	{% endif %}
</div>
    

{% endblock %}  